/* * {
    box-sizing: border-box;
    outline: 1px solid green !important;
} */

body {
    font-family: 'Roboto', 'sans-serif';
}

html {
    height: 100%;
    width: 100%;
}

.nmaPaddingRight {
    padding-right: 12px;
}
.nmaPaddingTop {
    padding-top: 12px;
}
